*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

body {
    background: #333;
}

.container {
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    color: white;
}

.container p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
   
}

.email-box i {
    background: linear-gradient(#F2709E, #AD43B2, #363393  );
    width: 40px;
    line-height: 40px;
}


.tbox, .btn{
    border: none;
    outline: none;
}

.tbox {
    width: 0px ;
}


.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
  }


.btn {
    background: linear-gradient(#F2709E, #AD43B2, #363393  );
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;

}

